//colors
$c-main-ios: -webkit-linear-gradient(90deg, #47a9fe, #3d8bff, #3064fe);
$c-main-other: linear-gradient(90deg, #47a9fe, #3d8bff, #3064fe);
$c-bg-container: #fff;
$c-border-input: rgba(128, 128, 128, 0.388);
